@{
Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add Engineer to: </h2>

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.MachineId)

@Html.Label("Engineer")
@Html.DropDownList("Id")

<input type="submit", value="Add"/>
}

<p>@Html.ActionLink("Back to List", "Index")
