@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="card border-danger mb-3">
  <div class="card-header bg-danger text-white">Fire Engineer</div>
  <div class="card-body">
    <h5 class="card-title">Are you sure you want to fire - <em>@Html.DisplayFor(model => model.EngineerName)</em>?</h5>
    <p class="card-text">
    </p>
    @using (Html.BeginForm())
    {
      <button type="submit" class="btn btn-danger">Yes</button>
    }
  </div>
</div>

@Html.ActionLink("Go back to List", "Index", null, new { @class = "btn btn-primary" })
