@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Welcome!</h1>


<p>@Html.ActionLink("Manage Machines", "Index", "Machine")</p> 
<p>@Html.ActionLink("Manage Engineers", "Index", "Engineer")</p>
